# Desafio Python e SQL

### Create

In [1]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'SQLite3 ODBC Driver', 'SQLite ODBC Driver', 'SQLite ODBC (UTF-8) Driver']

In [2]:
import pyodbc

dados_conexao = ("Driver={SQLite3 ODBC Driver};"
                "Server=localhost;"
                "Database=chinook.db")

conexao = pyodbc.connect(dados_conexao)

cursor = conexao.cursor()

In [4]:
cursor.execute("""
INSERT INTO albums (Title, ArtistId)
VALUES
('Leandro Ribeiro', 4)
""")

cursor.commit()

In [5]:
cursor.close()
conexao.close()