In [1]:
# criar o navegador
from selenium import webdriver
# baixar automaticamente o chromedriver atualizado
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
# identificação find_element(By)
from selenium.webdriver.common.by import By

servico = Service(ChromeDriverManager().install())
navegador = webdriver.Chrome(service=servico)

In [2]:
# caminho do arquivo
import os
caminho = os.getcwd()
arquivo = caminho + r"\index.html"
navegador.get(arquivo)

In [3]:
# importar base de dados
import pandas as pd

tabela = pd.read_excel("Processos.xlsx")
display(tabela)

      Nome    Advogado Processo            Cidade  Status
0  Adilson  Matheus CS   PC6592  Distrito Federal     NaN
1  Marcela    Fernanda   EB3792    Rio de Janeiro     NaN
2     Rita      Raissa   MM1043    Rio de Janeiro     NaN
3  Leandro    Fernando   PC5197         São Paulo     NaN

In [4]:
#Simular o movimento do mouse para abrir a lista de um botão
from selenium.webdriver import ActionChains
from time import sleep
for linha in tabela.index:
    

    # Para cada processo (linha da tabela)
    navegador.get(arquivo)


    from time import sleep
    #abrir a lista de cidades
    botao = navegador.find_element(By.CLASS_NAME, 'dropdown-menu')
    ActionChains(navegador).move_to_element(botao).perform()
    
    cidade = tabela.loc[linha, "Cidade"]
    print(cidade)
    
    
    # Selecionando o item da pesquisa (RJ)
    navegador.find_element(By.PARTIAL_LINK_TEXT, cidade).click()
    aba_principal = navegador.window_handles[0]
    indice = 1 + linha
    nova_aba = navegador.window_handles[indice]
    navegador.switch_to.window(nova_aba)
    
    navegador.find_element(By.ID, 'nome').send_keys(tabela.loc[linha, "Nome"])
    navegador.find_element(By.ID, 'advogado').send_keys(tabela.loc[linha, "Advogado"])
    navegador.find_element(By.ID, 'numero').send_keys(tabela.loc[linha,"Processo"])
    navegador.find_element(By.CLASS_NAME, 'registerbtn').click()
    
    alerta = navegador.switch_to.alert
    alerta.accept()
    
    while True:
        try:
            alerta = navegador.switch_to.alert
            break
        except:
            sleep(1)
    texto_alerta = alerta.text

    if "Processo encontrado com sucesso" in texto_alerta:
        alerta.accept()
        tabela.loc[linha, "Status"] = "Encontrado"
    else:
        tabela.loc[linha, "Status"] = "Não Encontrado"
        alerta.accept()

Distrito Federal
Rio de Janeiro
Rio de Janeiro
São Paulo

In [5]:
display(tabela)

      Nome    Advogado Processo            Cidade          Status
0  Adilson  Matheus CS   PC6592  Distrito Federal      Encontrado
1  Marcela    Fernanda   EB3792    Rio de Janeiro      Encontrado
2     Rita      Raissa   MM1043    Rio de Janeiro  Não Encontrado
3  Leandro    Fernando   PC5197         São Paulo  Não Encontrado